{% extends 'app_renekton/base.html' %}
{% block content %}
    <p>Topic: {{ topic }}</p>
        <p>Posts:</p>
        <p>
            <a href="{% url 'app_renekton:new_post' topic.id %}">Add new post</a>
        </p>
    <ul>
        {% for post in posts %}
        <li>
            <p>{{ post.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ post.text|linebreaks }}</p>
            <p>
                <a href="{% url 'app_renekton:edit_post' post.id %}">Edit post</a>
            </p>
        </li>
        {% empty %}
            <li>There are no posts for this topic yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}